version: "3.8"

services:
  mongodb:
    image: mongo:7
    container_name: backend-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
      MONGO_INITDB_DATABASE: app_db
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
